.todo_header {
    height: 150px;
    background-color: #9ba5e8;
    position: relative;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    &-title {
        text-align: center;
        color: #fff;
    }
    &-search {
        width: 122px;
        height: 30px;
        outline: none;
        margin-top: 5px;
        border-radius: 5px;
        padding: 5px;
        background-color: #9ba5e8;
        color: #fff;
        border-color: #fff;
    }
    &-wd {
        color: #fff;
        font-size: 28px;
    }
    &-date {
        color: #fff;
        font-size: 28px;
        margin-left: 10px;
    }
    &-count {
        color: #fff;
    }
}